/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#root {
  padding: 20px;
  font-family: "Zen Kurenaido", sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

/* splashcontent starts here */

.splash {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: linear-gradient(rgb(236, 182, 253), white);
  border-radius: 10%;
}

.top-container {
  display: flex;
  align-items: flex-start;
  margin-top: 50px;
}

.top-container img {
  width: 60%;
  height: 500px;
  border-radius: 25%;
}

.top-container-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 40px;
  padding-right: 20px;
}

.splash nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.splash nav img {
  width: 200px;
  height: 100px;
  padding: 20px;
}

.splash .links {
  display: flex;
  width: 100px;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 30px;
}

/* loginform starts here */

.login-background {
  background-color: rgb(247, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  line-height: 50px;
}

.login-background img {
  width: 120px;
  height: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px black solid;
  padding: 15px;
  line-height: 21px;
}

.login-form input {
  border: 1px black solid;
}

/* board starts here */

.board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.board-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.board-nav img {
  width: 200px;
  height: 100px;
  padding: 20px;
}

.board-nav .link {
  display: flex;
  align-items: flex-start;
  padding-right: 30px;
}

.board-main {
  display: flex;
  align-items: flex-start;
  padding: 30px;
}

.board-items-nav {
  border: 1px black solid;
  height: 400px;
  margin-right: 30px;
  padding: 30px;
}

.show-all-boards,
.show-single-board {
  border: 1px black solid;
  height: 400px;
  width: 600px;
  padding: 30px;
}

.single-board {
  width: 100px;
  height: 50px;
}

/* board form starts here */
.board-form input {
  border: 1px black solid;
}

.color-button {
  display: flex;
  width: 30px;
  height: 30px;
}

.color-buttons {
  display: flex;
}

.color-button:focus {
  border: rgb(242, 66, 66) 2px solid;
}
