/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Zen+Kurenaido&display=swap");
@font-face {
  font-family: "Charlie Display";
  src: url("//assets.ctfassets.net/rz1oowkt5gyp/oQSiwcfMwyNafeeJ3DIku/364b1a7409856a36ab05c2b43a1f9bde/Charlie_Display-Semibold.woff")
      format("woff"),
    url("//assets.ctfassets.net/rz1oowkt5gyp/3KRSiun937K2pXBPYiUwgB/17f578e7699c12924de360e09c018c7c/Charlie_Display-Semibold.woff2")
      format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Charlie Text";
  src: url("//assets.ctfassets.net/rz1oowkt5gyp/6h4LgfzSDGYFyOvrNTr21p/99d04355f5ef0b92b882013bb0857cf9/Charlie_Text-Regular.woff")
      format("woff"),
    url("//assets.ctfassets.net/rz1oowkt5gyp/41EruTPEOU9hcBwH94UVuZ/73ac40404d750278b451bf2adf186b1b/Charlie_Text-Regular.woff2")
      format("woff2");
  font-style: normal;
  font-weight: 400;
}

@import "./splash.scss";
@import "./session_form.scss";
@import "./board_index.scss";
@import "./board_form.scss";
@import "./list_index.scss";

#root {
  // font-family: "Zen Kurenaido", sans-serif;
  font-family: "Charlie Text";
  font-size: 20px;
  height: 100%;
}

.app {
  height: 100%;
}

h1 {
  font-size: 3rem;
  font-family: "Charlie Display";
}

h2 {
  font-size: 20px;
  font-family: "Charlie Display";
}

p {
  line-height: 1.5;
}
