.feed {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;

  ::placeholder {
    color: gray;
    opacity: 1; /* Firefox */
    font-style: italic;
    padding-left: 10px;
  }

  ::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
    font-style: italic;
    padding-left: 10px;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
    font-style: italic;
    padding-left: 10px;
  }

  .pics {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white; /* should match background, can't be transparent */
      background-color: rgba(0, 0, 0, 0.5);
      min-height: 50px;
    }
  }

  input {
    border: lightgray 1px solid;
    width: 90%;
    line-height: 30px;
    border-radius: 0.3rem;
    padding-left: 10px;
  }
}

.photo-list {
  width: 250px;
  margin: 0 5px 5px 5px;

  &:focus {
    border: 4px solid#b3f5b3;
    border-radius: 0.3rem;
  }
}
