/* board form starts here */

.board-form {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;

  label {
    padding: 30px 0 20px 0;
  }

  input[type="text"] {
    border: lightgray 1px solid;
    width: 90%;
    line-height: 30px;
  }
  input[type="submit"] {
    background-color: rgb(0, 101, 255);
    border-radius: 0.3rem;
    padding: 10px 15px 10px 15px;
    width: max-content;
    color: white;
  }
}

.color-button {
  display: flex;
  width: 30px;
  height: 30px;
  &:focus {
    border: rgb(242, 66, 66) 2px solid;
  }
}

.color-buttons {
  display: flex;
}
