/* board starts here */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&family=Zen+Kurenaido&display=swap");

.board {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  font-family: "Helvetica";
}

.board-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(189, 10, 189);
  color: white;
  padding-left: 20px;
  height: 50px;
  font-size: 17px;

  img {
    width: 130px;
    height: 40px;
    padding: 20px 20px 20px 0;
  }

  .links {
    display: flex;
    align-items: center;
    padding-right: 60px;
    justify-content: space-between;
    width: 300px;
  }
}

.board-main {
  display: flex;
  align-items: flex-start;
  padding: 30px;
  height: 100%;
  width: 100%;
  margin-left: 250px;
  transition: 0.5s ease-in-out;
}

.side-bar-collapsed {
  height: 100%;
  background-color: rgb(209, 171, 245);
  position: fixed;
  top: 50px;
  left: 0;
  padding: 40px 15px 0 10px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.board-left-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   border: 1px black solid;
  height: 100%;
  line-height: 2;
  // padding: 0px;
  // width: 300px;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 0;
  background-color: rgb(209, 171, 245);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s ease-in-out;
  color: white;
  h3 {
    padding-left: 20px;
  }

  a {
    padding: 8px 8px 8px 32px;
    color: white;
    display: block;
    transition: 0.3s;
    z-index: 2;
    :hover {
      color: #f1f1f1;
    }
  }
  :target {
    background-color: rgb(155, 212, 247);
    width: 100%;
  }

  .all-boards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 105%;
    border-radius: 0.3rem;
    transition: 0.1s;
  }

  .single-board-in-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 25px;
    border-radius: 0.3rem;
    transition: 0.1s;
  }
}

.display-all {
  // border: 1px black solid;

  // padding: 300px;
  // margin-left: 60px;
  line-height: 2;
  display: flex;
  flex-direction: column;

  .board-list {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    .single-board {
      border: 1px black solid;
      width: 140px;
      height: 70px;
      padding: 10px;
      border-radius: 0.3rem;
    }
  }
}

#show-single-board {
  padding: 100px 0 0 300px;
  display: block;
  height: 100%;
  width: 90%;
  position: fixed;
  top: 50px;
  left: 0;
}
