@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

.cards {
  padding: 10px 0 10px 0;
  z-index: 4;
}

.card {
  padding: 10px;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 10px;
  cursor: move;
  z-index: 4;
  flex-direction: column;
  i {
    color: gray;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  .card-detail-menu {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: white;
    font-size: 14px;
    border-radius: 0.3rem;
    padding: 8px;
    align-items: flex-start;
    font-family: "Roboto";
    top: 0;
  }

  .card-title-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    .card-title {
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .card-due-date {
      font-size: 12px;
      color: orange;
    }
  }

  button {
    padding: 3px;
  }

  &:hover {
    cursor: pointer;
  }
}

.add-card-nav,
.add-card-nav-collapsed {
  //   margin-top: 20px;
}

.add-card-nav {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100px;
  background-color: #ebecf0;
  // border: black 1px solid;
  border-radius: 0.3rem;
  align-items: flex-start;
  justify-content: center;
  transition: 0.1s ease-in-out;
  font-size: 16px;

  .controls {
    display: flex;
    padding-top: 15px;
  }

  button {
    background-color: #1e70ef;
    color: white;
    border-radius: 0.3rem;
    padding: 10px 15px 10px 15px;
    margin: 0 10px 20px 0;
  }

  input::placeholder {
    color: rgb(139, 134, 134);
    font-size: 16px;
  }

  input {
    background-color: white;
    width: 100%;
    line-height: 30px;
    box-shadow: 2px 2px 2px lightgray;
    color: black;
    text-align: left;
  }

  .closebtn {
    font-size: 30px;
    padding-left: 5px;
  }
}

.add-card-nav-collapsed {
  display: flex;
  width: 250px;
  height: 30px;
  // border: black 1px solid;
  border-radius: 0.3rem;
  align-items: center;
  transition: 0.1s ease-in-out;
  font-size: 14px;
  color: gray;
  margin-top: 10px;
  i {
    padding: 0 10px 0 5px;
  }
  &:hover {
    cursor: pointer;
    background-color: #091e4214;
    color: rgb(143, 142, 142);
  }
}

// .closebtn {
//   cursor: pointer;
// }

.dragging-card {
  transform: rotate(5deg);
}

// .draggable-container :hover {
//   opacity: 40%;
// }

.card-detail-container {
  display: flex;
  justify-content: space-between;

  textarea {
    font-family: "Roboto";
    font-size: 16px;
    width: 90%;
    background-color: #f6f5f5;
    border: none;
    border-radius: 0.3rem;
    padding: 10px;
  }

  .update-card {
    padding: 3px;
    background-color: lightgray;
    border-radius: 0.3rem;
    padding: 0 5px 0 5px;
    &:hover {
      background-color: gold;
    }
  }

  .card-detail-text {
    img {
      cursor: -moz-zoom-in;
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
      width: 40%;
    }
    .large-img {
      // transform: scale(1);
      // height: max-content;
      width: 100%;
      position: absolute;
      top: 30%;
      cursor: zoom-out;
    }

    .titles {
      display: flex;
      align-items: center;
      margin: 5px 0 5px 0;
      i {
        margin-right: 10px;
      }
    }
  }

  .card-detail-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 210px;

    ::placeholder {
      color: black;

      // opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: black;
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: black;
    }
  }
}
