.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row-reverse;
  overflow-y: scroll;
  height: 60%;
  width: 40%;
  justify-content: flex-end;

  .closebtn {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
  }

  &.card-detail {
    width: 700px;
    display: flex;
    flex-direction: column;
    top: 50%;
    line-height: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.modal-image .show {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  height: 100%;
}

.modal-image-child .show {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: row-reverse;
  height: max-content;
  width: max-content;
  background: white;
}
