/* splashcontent starts here */

.splash {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //   margin: 0 40px 0 55px;

  .splash-nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease-in;

    &.scroll {
      background-color: white;
      height: 60px;
      box-shadow: 2px 2px 2px lightgray;
    }

    img {
      width: 110px;
      height: 45px;
      padding: 20px;
    }

    .links {
      display: flex;
      align-items: center;
    }

    .auth {
      display: flex;
      width: 150px;
      align-items: flex-start;
      justify-content: space-between;
      margin-right: 20px;
      margin-top: 10px;
      font-size: 16px;
      .login {
        color: rgb(0, 101, 255);
        padding: 10px;
        text-decoration: underline;
      }
    }

    .contact {
      display: flex;
      margin-top: 10px;
      width: 150px;
      align-items: flex-start;
      justify-content: space-evenly;
    }

    .signup {
      background-color: rgb(0, 101, 255);
      color: white;
      height: 18px;
      width: 65px;
      padding: 10px;
      padding-right: 1px;
      border-radius: 0.3rem;
      &:hover {
        background-color: rgb(7, 89, 212);
      }
    }
  }
  .top {
    background-image: linear-gradient(rgb(233, 203, 241), white);
  }

  .container {
    display: flex;
    align-items: flex-start;
    padding: 130px 55px 0 80px;
    justify-content: center;
    align-self: center;

    img {
      width: 25%;
    }

    .container-text {
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      width: 30%;
    }
    .email {
      background-color: white;
      border: 1px lightgray solid;
      border-radius: 0.3rem;
      height: 35px;
      width: 350px;
      padding: 10px;
      &:focus {
        border: 1px solid rgb(0, 101, 255);
        box-shadow: 2px 2px 2px lightgray;
      }
    }
    .splash-sign-up2 {
      background-color: rgb(0, 101, 255);
      color: white;
      height: 20px;
      width: 185px;
      padding: 15px;
      padding-right: 0px;
      border-radius: 0.3rem;
      &:hover {
        background-color: rgb(7, 89, 212);
      }
    }
    &.second {
      flex-direction: column;
      align-items: center;
      align-self: center;
      width: 55%;
      img {
        width: 100%;
      }
    }

    &.third,
    &.fourth {
      width: 50%;
      padding: 50px 0 50px 0;

      h1,
      p {
        padding: 0 20px 0 20px;
      }
    }
  }
}
